.form {
    width: 100%;
    padding-bottom: $formPad;

    .textarea {
        width: 100%;
        color: $primary;
        background: $bakgrd;
        @include border;
        outline: none;
        padding: $formPad;
        margin-bottom: $formMargin;
    }
        
    .label {
        color: $bakgrd;
        display: block;
        font-size: 2rem;
        line-height: 2rem;
        padding-top: $formPad;
    }

    .input {
        width: 100%;
        padding: $formPad;
        background: $bakgrd;
        @include border;
        color: $accent;
        font-weight: 900;
        font-style: italic;
        font-size: 2.75rem;
    

        &:focus {
            background: $primary;
            border: $primary;
            color: $accent;
        }

        &:invalid {
            background: $alert;
            border: $accent;
            color: $accent;
        }
    }   
}